/*Topo*/
.nome_empresa {
  border-bottom: 1px solid #d5d5d5;
}
.nome_empresa p {
  padding: 20px;
  font-size: 22px;
  font-weight: bold;
  box-sizing: border-box;
}
.alucar {
  color: #1b1b1b; /* cor do texto */
  font-family: 'Arial', sans-serif; /* fonte do texto */
  width: 100%;
  max-width: 800px; /* largura máxima */
  margin: 0 auto; /* centraliza horizontalmente */

}

h1, h2 {
  color: #fcfcfc; /* cor do texto */
  margin: 0; /* remove margens */
}

/*Capa*/
.capa{
  min-height: 500px;
  background-image: url(capa.jpg);
  background-size: cover;
}
.capa_conteudo {
  text-align: right;
  padding: 50px 20px;
  background: #00000085; /* fundo preto com opacidade */
}

h3 {
  margin: 0; /* remove margens */
}

/*Seção Conteúdo*/
.sobre {
  padding: 50px 20px;
  box-sizing: border-box;
}
.imagem_carro {
  width: 250px;
  height: 180px;
  object-fit: contain;
  transition: background 0.3s ease, box-shadow 0.3s ease, border-radius 0.3s ease, transform 0.3s ease; /* Adiciona transição suave */
}
.sobre span {
  border-left: 1px solid;
  padding-left: 10px;
  font-size: 16px;
}

/*Seção de Divisão de Página*/
.divisao {
  padding: 50px 0;
  text-align: center;
  background-color: #d92121; /*Fundo vermelho claro*/
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
.divisao h3 {
  font-size: 36px;
  background-color: #6c0000; /*Fundo vermelho escuro*/
  width: 100%;
  margin: 0 auto; /* centraliza horizontalmente */
  color: #fff;
}

  /*Formulário*/
  .grupo_campo {
    display: flex;
    flex-direction: column;
  }
  .grupo_campo input, .grupo_campo1 select {
    margin: 12px 0;
    height: 25px;
  }
  .grupo_campo input, .grupo_campo select {
    margin: 12px 0;
    height: 25px;
  }
  .conteudo fieldset {
    margin: 12px 0;
    display: flex;
    flex-direction: column;
  }
  .conteudo button {
    width: 100%;
    height: 32px;
    background: #d92121;
    border: none;
    color: #fff;
  }

  /*Rodapé*/
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 55px;
    position: relative;
    bottom: 0;
    padding: 20px;
    box-sizing: border-box;
    background: #f8f8f8;
  }
  footer p {
    color: #d92121;
    font-family: sans-serif;
    text-align: center;
  }

  /*Ajuste para dispositivos móveis*/
  @media (max-width: 815px) {
    .imagem_carro {
      width: 100%;
    }
  }


