/*Topo*/
.nome_empresa {
  border-bottom: 1px solid #d5d5d5;
}
.nome_empresa p {
  padding: 20px;
  font-size: 22px;
  font-weight: bold;
  box-sizing: border-box;
}
.alucar {
  color: #1b1b1b; /* cor do texto */
  font-family: 'Arial', sans-serif; /* fonte do texto */
  width: 100%;
  max-width: 800px; /* largura máxima */
  margin: 0 auto; /* centraliza horizontalmente */
}

h1, h2 {
  color: #fcfcfc; /* cor do texto */
  margin: 0; /* remove margens */
}

/*Capa*/
.capa{
  min-height: 500px;
  background-image: url(capa.jpg);
  background-size: cover;
}
.capa_conteudo {
  text-align: right;
  padding: 50px 20px;
  background: #00000085; /* fundo preto com opacidade */
}
.alucar{
  width: 100%;
  max-width: 800px; /* largura máxima */
  margin: 0 auto; /* centraliza horizontalmente */
}

h3 {
  margin: 0; /* remove margens */
}

/*Seção Conteúdo*/
.sobre{
  padding: 50px 20px;
  box-sizing: border-box;
}
